/* 
Parti du CSS qui gere la partie principale de la page.
*/

menu#principal > li {
	display: inline-block;
	margin-top: 3%;
}
menu#principal {
	display: flex;
	justify-content: space-around;
	border-color: white;
	border-style: outset;
	margin-left: 10%;
	margin-right: 10%;
}

li#ligne {
	border-style: solid;
	border-width: 1px;
	color: white;
}

menu#principal > li > a {
	text-decoration: none;
	color: white;
	font-family: 'Times new Roman';
}

p {
	display: flex;
	justify-content: center;
}

